html,
body {
  height: 100%;
}

body {
  margin: 0;
}

ion-button[shape='circle'] {
  --border-radius: 50%;

  &.big {
    width: 56px;
    height: 56px;
  }
  &[size='medium'] {
    width: 46px;
    height: 46px;
    margin: 0;
  }
  &[size='small'] {
    width: 27px;
    height: 27px;
    margin: 0;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

ion-textarea textarea {
  padding-top: 0 !important;
}

// ngx-datatable tweaks
.ngx-datatable {
  box-shadow: none !important;

  $border: solid 1px
    var(
      --ion-item-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
    ) !important;
  border: $border;
  .datatable-body-row {
    border-top: $border;
    border-bottom: none !important;
  }

  .datatable-body-row {
    cursor: pointer;
  }

  // Start: select feature
  &.selectable {
    .datatable-body-row:has(.wo-database-check input[value='on']),
    .datatable-body-row.active,
    .datatable-body-row.active .datatable-row-group {
      background: rgba(0, 0, 0, 0.1) !important;
    }
  }
  // End: select feature

  // Start: tweaks to make dark look better
  .datatable-header,
  .datatable-body,
  .datatable-footer,
  .datatable-pager li a {
    background: var(--ion-background-color) !important;
    color: var(--color) !important;
  }

  &.dark .datatable-pager li {
    &.active a {
      background: var(--ion-toolbar-background) !important;
    }
    &:not(.disabled):hover a {
      background: var(--ion-toolbar-background) !important;
    }
  }
  // End: tweaks to make dark look better

  // Start: alignment fixes
  .datatable-body-cell-label,
  .datatable-header-inner,
  .datatable-header-cell,
  .datatable-header-cell-template-wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .datatable-body-cell-label > * {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .ngx-datatable.material .datatable-header .datatable-row-right,
  .ngx-datatable.material .datatable-body .datatable-row-right {
    background-image: none;
  }
  // End: alignment fixes
}

.flex {
  display: flex !important;
  gap: 10px;
  align-items: center;
}
.no-gap {
  gap: 0 !important;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.center-everything {
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.font-light {
  font-weight: 300;
}

.align-center {
  align-items: center;
  align-content: center;
}

.justify-right {
  justify-items: flex-end;
  justify-content: flex-end;
}

.w100 {
  width: 100%;
  max-width: 100%;
}
.h100 {
  height: 100%;
  max-height: 100%;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shaded {
  background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.12);
}

.transparent {
  background: transparent !important;
  --background: transparent !important;
}

.spinner-xl {
  transform: scale(4);
  margin: 60px auto;
  display: flex;
}

.p0 {
  padding: 0;
}
.pl0 {
  padding-left: 0;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.m0 {
  margin: 0 !important;
  margin-inline: 0 !important;
}
.m5 {
  margin: 5px;
}
.ml0 {
  margin-left: 0;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb40 {
  margin-bottom: 40px;
}

span.fi {
  bottom: 1px;
}

.fab-tooltip {
  --width: 150px;
  --ion-padding: 8px;
  --offset-x: -8px;
  pointer-events: none;
  margin-top: 2px;
  margin-right: 8px;
}
