<ion-label>
  <ion-text [color]="previewColor">
    <wo-entity-preview-title
      [label]="item.label"
      [showIndex]="showIndex"
      [index]="index"
    ></wo-entity-preview-title>

    <div style="margin-top: 5px" *ngIf="value(item) | async as val; else empty">
      <p
        *ngFor="let keyvalue of objectEntries(val)"
        style="white-space: normal"
      >
        <span style="font-weight: 400">{{ keyvalue[0] | translate }}:</span>
        <span style="font-weight: 300">
          {{ keyvalue[1] | translate }}
        </span>
      </p>
    </div>

    <ng-template #empty>
      <wo-entity-preview-empty-text
        [value]="item.emptyText"
      ></wo-entity-preview-empty-text>
    </ng-template>
  </ion-text>
</ion-label>
