$gap: 10px;
$searchbarHeight: 40px;

.entity-list-top {
  gap: $gap;
  padding: 0 0 $gap 0;
  align-items: flex-start;

  .entity-list-searches {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: $gap;
  }

  .entity-list-create ion-button {
    margin: 0;
    height: $searchbarHeight;

    ion-icon {
      padding-right: 5px;
    }
  }
}

.entity-list-search > * {
  height: $searchbarHeight;
  --padding-top: 0;
  --padding-bottom: 0;
  margin: 0;
  padding: 0;
}

.entity-list-search-field {
  flex: 1 0 130px;
}

.entity-list-search-field,
.entity-list-search-choices {
  ion-select {
    width: 100%;
    margin-top: -5px;
    --padding-start: 0;
    --padding-left: 0;

    ::ng-deep .select-text {
      min-width: 0 !important;
    }
  }
}

:host ion-searchbar,
.entity-list-search-choices {
  flex: 12 0 auto;
}

:host ion-searchbar {
  --border-radius: 4px !important;
  width: unset !important;

  ::ng-deep .searchbar-input-container,
  ::ng-deep input {
    height: 100%;
    padding-inline-end: 0;
  }

  ::ng-deep ion-icon {
    top: 10px;
  }
}

.datatable-card {
  margin: 0;
}

// ngx-datatable tweaks
:host::ng-deep .ngx-datatable {
  box-shadow: none !important;

  $border: solid 1px
    var(
      --ion-item-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
    ) !important;
  border: $border;
  .datatable-body-row {
    border-top: $border;
    border-bottom: none !important;
  }

  .datatable-body-row {
    cursor: pointer;
  }

  // Start: select feature
  &.selectable {
    .datatable-body-row:has(.wo-database-check input[value='on']),
    .datatable-body-row.active,
    .datatable-body-row.active .datatable-row-group {
      background: rgba(0, 0, 0, 0.1) !important;
    }
  }
  // End: select feature

  // Start: tweaks to make dark look better
  .datatable-header,
  .datatable-body,
  .datatable-footer,
  .datatable-pager li a {
    background: var(--ion-background-color);
    color: var(--color) !important;
  }

  &.dark .datatable-pager li {
    &.active a {
      background: var(--ion-toolbar-background) !important;
    }
    &:not(.disabled):hover a {
      background: var(--ion-toolbar-background) !important;
    }
  }
  // End: tweaks to make dark look better

  // Start: alignment fixes
  .datatable-body-cell-label,
  .datatable-header-inner,
  .datatable-header-cell,
  .datatable-header-cell-template-wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .datatable-body-cell-label > * {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .ngx-datatable.material .datatable-header .datatable-row-right,
  .ngx-datatable.material .datatable-body .datatable-row-right {
    background-image: none;
  }
  // End: alignment fixes
}

::ng-deep .wo-datatable-actions,
::ng-deep .wo-datatable-actions-header {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

:host::ng-deep .standalone .datatable-body {
  height: calc(100vh - 250px) !important;
}

// disable a border between frozenRight cells and the rest
::ng-deep .wo-datatable-icon-button {
  width: 32px !important;
  height: 32px !important;
  --padding-start: 8px !important;
  --padding-bottom: 8px !important;
  --padding-end: 8px !important;
  --padding-top: 8px !important;
}
