<ion-item
  class="ion-no-padding transparent"
  [attr.button]="item.preview ? 'true' : null"
  [detail]="!!item.preview"
  (click)="onClickItem(item)"
>
  <ion-icon
    *ngIf="icon(item)"
    [name]="icon(item)"
    [color]="previewColor"
    class="ion-padding-end"
    style="margin-bottom: 3px"
  ></ion-icon>

  <ng-container [ngSwitch]="item.type">
    <wo-entity-preview-item-map
      *ngSwitchCase="'map'"
      [item]="$any(item)"
      [model]="model"
      [index]="index"
      [showIndex]="showIndex"
    ></wo-entity-preview-item-map>

    <wo-entity-preview-item-table
      *ngSwitchCase="'table'"
      [item]="$any(item)"
      [model]="model"
      [index]="index"
      [showIndex]="showIndex"
    ></wo-entity-preview-item-table>

    <wo-entity-preview-item-photo
      *ngSwitchCase="'photo'"
      [item]="$any(item)"
      [model]="model"
      [index]="index"
      [showIndex]="showIndex"
    >
    </wo-entity-preview-item-photo>

    <wo-entity-preview-item-color
      *ngSwitchCase="'color'"
      [item]="$any(item)"
      [model]="model"
      [index]="index"
      [showIndex]="showIndex"
    ></wo-entity-preview-item-color>

    <wo-entity-preview-item-simple
      *ngSwitchDefault
      [item]="$any(item)"
      [model]="model"
      [index]="index"
      [showIndex]="showIndex"
    ></wo-entity-preview-item-simple>
  </ng-container>
</ion-item>
