<ion-menu side="start" content-id="main">
  <ion-header>
    <ion-toolbar class="ion-translucent" translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ng-container *ngFor="let item of items | cast" [ngSwitch]="item.type">
        <ion-item
          *ngSwitchCase="'button'"
          (click)="item.onClick()"
          class="ion-activatable"
        >
          <ion-ripple-effect class="wo-menu-ripple"></ion-ripple-effect>
          <ion-icon
            [name]="(item | cast).icon"
            class="wo-menu-icon"
            slot="start"
          ></ion-icon>
          <ion-label>{{ item.label | translate }}</ion-label>
        </ion-item>

        <ion-item-divider *ngSwitchCase="'divider'"></ion-item-divider>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>
