<div class="wo-thumbnail-container" [ngStyle]="{ width: size, height: size }">
  <img
    #img
    [id]="id"
    [ngStyle]="{ visibility: loaded ? 'unset' : 'hidden' }"
    [title]="showTitle ? name : ''"
    alt="photo thumbnail"
    class="wo-thumbnail-img ion-activatable ripple-parent"
  />
</div>

<ion-modal
  [trigger]="id"
  #modal
  class="wo-photo-modal"
  style="--min-height: 100%; --min-width: 100%"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ name }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()" [strong]="true">Ok</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="flex w100 h100 center-everything">
        <img [src]="img.src" alt="photo thumbnail" />
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
