:host ::ng-deep .entity-preview ion-content {
  flex: unset;

  .wo-preview-content {
    padding-bottom: 100px;
  }

  ion-fab {
    margin-bottom: 15px;
    margin-right: 15px;
  }
}

::ng-deep .entity-preview-modal {
  --max-width: 600px;
}

@media screen and (min-width: 768px) {
  ::ng-deep .entity-preview-modal {
    --max-width: 80%;
  }
}

:host ::ng-deep ion-icon {
  min-width: 1em !important;
}
