$stepper-primary-color: #5a64f9;
$stepper-secondary-color: rgba(0, 0, 0, 0.1);
$stepper-button-size: 45px;

.wo-stepper-steps {
  display: flex;
  gap: 10px;
}

.wo-stepper-step-button {
  width: $stepper-button-size;
  height: $stepper-button-size;
}

.wo-stepper-step {
  ion-text {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}

.wo-stepper-separator {
  margin-top: $stepper-button-size / 2;
  flex-grow: 1;
  height: 1px;
  background: $stepper-secondary-color;
}
