<ion-content class="ion-padding">
  <wo-entity-preview-close (click)="close()"></wo-entity-preview-close>
  <wo-entity-preview-action (edit)="edit()"></wo-entity-preview-action>

  <div class="wo-preview-content">
    <ion-text>
      <h2 style="display: inline">
        {{ 'str.sample.common.sample' | translate }}
      </h2>
      <p style="display: inline; margin-bottom: 1px">{{ entity.id }}</p>
    </ion-text>

    <ion-text>
      <h6>{{ 'str.dialogs.preview.overview' | translate }}</h6>
    </ion-text>

    <wo-entity-preview-list
      [items]="overviewItems"
      [model]="entity"
    ></wo-entity-preview-list>

    <wo-entity-preview-list
      [items]="detailItems"
      [model]="entity"
      [columns]="1"
    ></wo-entity-preview-list>

    <ion-text>
      <h6>
        {{ 'str.model.common.model' | translate }}
        <span style="font-weight: 300">
          {{ entity?.sampleModel?.reference }}
        </span>
      </h6>
    </ion-text>

    <div
      *ngFor="let group of componentGroups"
      class="sample-preview-components-container"
    >
      <wo-entity-preview-list
        [items]="group.components"
        [columns]="1"
        [indexed]="true"
      ></wo-entity-preview-list>
    </div>

    <div *ngIf="componentGroups.length === 0">
      <ion-label>
        <p>{{ 'str.sample.preview.components.empty' | translate }}</p>
      </ion-label>
    </div>
  </div>
</ion-content>
