.sf-file-list {
  padding-left: 16px;

  .sf-file-name,
  ion-reorder,
  ion-icon {
    font-size: 14px;
  }

  .sf-file-name,
  .sf-file-list-icon {
    opacity: 0.8;
  }

  ion-reorder {
    margin-top: -2px;
  }

  .sf-file-list-file * {
    vertical-align: middle;
  }

  .sf-file-thumbnail {
    margin: 10px;
  }

  .sf-file-remove::part(native) {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .sf-file-actions {
    margin-inline-start: 0;

    * {
      width: 20px;
    }
  }
}
