<input
  #uploadInput
  type="file"
  style="display: none"
  [accept]="definition.mimeType || '*'"
  [multiple]="definition.multiple"
  (change)="onFilePick()"
/>

<ion-item [lines]="value!.files.length === 0 ? 'full' : 'none'">
  <ion-label *ngIf="definition.label">
    {{ definition.label | translate }}
  </ion-label>

  <ion-button
    (click)="uploadInput.click()"
    size="medium"
    fill="outline"
    color="medium"
  >
    <ion-icon slot="start" icon="attach"></ion-icon>
    {{ 'str.common.smartForm.fileUpload.pick' | translate }}
  </ion-button>
</ion-item>

<div *ngIf="value!.files.length > 0">
  <ion-list class="sf-file-list">
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($any($event))"
    >
      <ion-item
        *ngFor="let fileData of value!.files; trackBy: trackByUid"
        class="sf-file-list-file"
        lines="full"
        [attr.data-uid]="fileData.uid"
      >
        <wo-thumbnail
          class="sf-file-thumbnail"
          #thumbnail
          [ngStyle]="{
            display: thumbnail.loaded ? 'block' : 'none'
          }"
          [name]="fileData.name"
          [file]="
            isImage(getFile(fileData.uid)?.type || '')
              ? getFile(fileData.uid)
              : undefined
          "
        ></wo-thumbnail>
        <ion-icon
          slot="start"
          color="medium"
          name="image"
          class="sf-file-list-icon"
          [ngStyle]="{
            display: thumbnail.loaded ? 'none' : 'block'
          }"
        ></ion-icon>
        <ion-label class="sf-file-name">
          {{ fileData.name }}
        </ion-label>
        <div slot="end" class="flex">
          <ion-reorder *ngIf="value!.files.length > 1">
            <ion-icon name="menu" color="medium"></ion-icon>
          </ion-reorder>
          <ion-button
            (click)="removeFile(fileData.uid)"
            shape="circle"
            fill="clear"
            size="medium"
            class="sf-file-remove"
          >
            <ion-icon name="close" color="medium"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <ion-item-divider style="min-height: 16px"></ion-item-divider>
</div>
