:host ion-item {
  height: 100%;

  &::part(native) {
    height: 100%;
  }

  ion-label {
    align-self: flex-start;
  }
}

:host p {
  margin-bottom: 5px;
}

.wo-entity-preview-item {
  break-inside: avoid;
}
