ion-menu {
  --side-max-width: 280px;

  ion-icon {
    margin-right: 15px;
  }

  &.dark {
    --border: 1px solid #222222;
  }
}

::ng-deep #mainRouter > * {
    display: contents;
}

@media (max-width: 991.98px) {
  #mainRouter {
    margin-top: 56px;
  }
}
