.wo-sample-wizard-stepper {
  display: block;
  padding: 10px 15px;
  margin: 0 15px;
}

.wo-sample-wizard {
  max-width: 60%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .wo-sample-wizard-stepper {
    max-width: 100%;
    margin: 0 15px;
  }

  .wo-sample-wizard {
    max-width: 100%;
  }
}
